# Day 01
Name: Bibi Zainab \
Dated: 18th Feb 2026 \
TOPICS: Values, expressions, and statements \
•	Numbers, Booleans, Strings \
•	Operators, variables and keywords \
•	String operations \
•	Input and Type casting \
•	Comments

# Numbers, Boolean, Strings

In [1]:
# number are known as int 
x = 5
print(type(x))

<class 'int'>

In [2]:
x = 10
y = 5
add = x + y

print("x + y =", add)

x + y = 15

In [3]:
sub = x - y
print("x - y =" , sub)

x - y = 5

In [4]:
mul = x * y
print("x * y =",mul)

x * y = 50

In [5]:
div = x/y
print("x / y =",div)

x / y = 2.0

In [6]:
# can square
sq = 5**10
print(sq)

9765625

In [7]:
print(3*46+1-3)

136

In [8]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

# Output

In [9]:
print("Python is awesome")

Python is awesome

In [10]:
print("Hello World!")
print("I am learning Python.")
print("It is awesome!")

Hello World!
I am learning Python.
It is awesome!

In [11]:
print("This will work!")
print('This will also work!')

This will work!
This will also work!

In [12]:
print("Hello World!", end=" ") # if we change the end from new line , we can set function to end it with a space
print("I will print on the same line.")

Hello World! I will print on the same line.

In [13]:
# code challenge: print "I am" and 25
print("I am" , 25)

I am 25

# Variable

In [14]:
x = 5
y = "Alia"
print(x)
print(y)

5
Alia

In [49]:
#3numbers = 454 

# number cant be at start of the variable name

In [ ]:
_3number = 454    # can be _ at start

In [48]:
number_3 = 454 # can be an alphabet

# comments

In [15]:
# comment on a single lines

In [16]:
###multi line comment 
###we will continue at next new line 
###

In [17]:
"""
use to write docstrings
"""

'\nuse to write docstrings\n'

# Casting

From other dtypes to int

In [18]:
x = int(4)
y = int(4.76)
z = int("6")
a = int(True)
print(type(x),type(y), type(z),type(a), sep="\n")
print(a)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
1

from dtyps to float

In [19]:
x = float(4)
y = float(4.76)
z = float("6")
a = float(True)
print(type(x),type(y), type(z),type(a), sep="\n")
print(a)

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
1.0

from others to string

In [20]:
x = str(5)
y = str(6.76)
z = str("6")
a = True
print(type(x),type(y), type(z),type(a), sep="\n")
print(a)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
True

from others to bool

In [ ]:
a = bool(1)
print(a)

True
False

In [ ]:
b = bool(0)
print(b)

In [ ]:
a = bool(1.0)
print(a)

True
False

In [ ]:
b = bool(0.0)
print(b)

In [23]:
a = bool(2)
print(a)

True

In [ ]:
a = "hello"
print(bool(a))

True
False

In [ ]:
b = ""
print(bool(b))

# Input

In [25]:
x = input("Enter a name") 
print(x)

In [26]:
x = input("Enter a number") 
# take it 3
y = input("Enter another number")
#take it 5

print(x + y)

55

In [27]:
x = input("Enter a number")          
# take it 3
y = input("Enter another number")
#take it 5

print(type(x) , type(y))

<class 'str'> <class 'str'>

In [28]:
x = int(input("Enter a number"))          
# take it 3
y = int(input("Enter another number"))
#take it 5

print(x + y)

8

In [29]:
x = float(input("Enter a number"))          
# take it 3
y = float(input("Enter another number"))
#take it 5

print(x + y)

8.0

In [30]:
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))    # total keywords of python

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

# Strings

In [31]:
print("hello")

hello

In [32]:
print('hello')

hello

In [33]:
print("hello world" * 4)

hello worldhello worldhello worldhello world

In [41]:
text = "Hello World!"
print(text[7])

o

In [42]:
print(text[9])

l

In [43]:
print(text[-1])

!

In [44]:
print(text[-2])

d

In [35]:
texting = "AI is conquering the world!"
print(texting[8:16])

nquering

In [36]:
print(texting[2:10])

 is conq

In [37]:
print(texting[::2])
# AI is conquering the world

A scnurn h ol!

In [38]:
print(texting[::3])

Aicqrghwl

# Methods on string

In [39]:
print(texting.upper())

AI IS CONQUERING THE WORLD!

In [ ]:
print(texting.swapcase())

ai IS CONQUERING THE WORLD!

In [ ]:
print(texting.title())

Ai Is Conquering The World!

In [ ]:
texting.center(98)

'                                   AI is conquering the world!                                    '

In [ ]:
texting.index("q")

9

In [ ]:
texting.index("quer")

9

In [ ]:
texting.index("the")

17

In [ ]:
texting.startswith("A")

True

In [ ]:
texting.startswith("B")

False

In [ ]:
texting.endswith("!")

True

In [ ]:
texting.endswith("d")

False

In [ ]:
texting.find("the")

17

# Bool

In [ ]:
T = True
F = False

type(T), type(F)

(bool, bool)

In [ ]:
print(T.bit_count())
print(F.bit_count())

1
0

In [ ]:
x = int(input("Take a number"))
if x >18 and x<35:
    print("Young")