## Day 02: Python

Name: Bibi Zainab \
Dated:19th February, 2026 \
TOPICS: \
Data Structures \
•	Lists \
•	Tuples \
•	Dictionaries \
•	Sets

### Tuples

In [144]:
default = tuple()
default

()

In [145]:
nums = (1, 2, 3, 4 ,5 ,6 , 7, 8 )
print(type(nums))
print(nums)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)

In [146]:
veggies = ('brocolli','spinach', 'cucumber','cauliflower','okra','potatoes')
print(veggies)
type(veggies)

('brocolli', 'spinach', 'cucumber', 'cauliflower', 'okra', 'potatoes')

tuple

In [147]:
tuple_of_tuples = ((1,0,5),(2,4,6,8))

#### indexing

In [148]:
veggies[2]

'cucumber'

In [149]:
tuple_of_tuples[1]

(2, 4, 6, 8)

In [150]:
tup = tuple(['foo', [1, 2], True])
tup[1]

[1, 2]

#### Item Assignment

In [151]:
# tuple does not show item assignment
#tup[-1] = False

#TypeError: 'tuple' object does not support item assignment

#### Add And Remove elements

```append()```
This won't work , bcz it is affecting the property of immutability \
```insert()```
Same it does not exist for tuple

In [ ]:
# veggies.append("brinjal")
# veggies
#AttributeError: 'tuple' object has no attribute 'append'



#veggies.insert(2, "brinjal")
#AttributeError: 'tuple' object has no attribute 'insert

```pop()```
```remove()```
```del```

giving **attribute errors** no such attribute exist for tuple

In [ ]:
#veggies.pop()
#veggies.remove()
#del veggies[i]

#### Combine and concatenate Tuple

In [160]:
store = veggies + tuple_of_tuples
print(store)

('brocolli', 'spinach', 'cucumber', 'cauliflower', 'okra', 'potatoes', (1, 0, 5), (2, 4, 6, 8))

```extend()``` attribute do not exist

#### Sorting
Sorting attribute in any case do not exist

#### Indexing & Slicing

In [167]:
nums2 = (1, 2,3 ,4, 5, 6, 7, 8, 9, 10 ,11, 12, 13, 14, 15)
print(nums2[3])

4

In [ ]:
print(nums2[-3])

13

In [ ]:
print(nums2[1:6])

(2, 3, 4, 5, 6)

In [170]:
print(nums2[2:12:3])

(3, 6, 9, 12)

```count```
```index```

In [171]:
nums2.count(4)

1

In [172]:
nums.index(7)

6

#### Unpack Tuples

In [176]:
dome = [1, 3, 5, 7 ,9]
a, b, c, d,e = dome
print("a" , a)
print("b" , b)
print("c" , c)
print("d" , d)
print("e" , e)

a 1
b 3
c 5
d 7
e 9

### Lists

In [ ]:
default = list()
print(default)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers)
# type 
type(numbers)

**Lists in a list**

In [ ]:
list_of_lists = [[1,2,3],[4,5],[7,8,9]]
list_of_lists

**Tuples in a list**

In [ ]:

list_of_tuples = [(1,2,3),(4,5),(6,9)]
list_of_tuples

In [ ]:
fruits = ["apple", "banana", "cherry", "dates"]
print(fruits)
# types 
type(fruits)

#### operations

#### Item Assignment

In [ ]:
numbers[3] = 99
numbers

#### Add and remove elements

```append()```  
insert at end

In [ ]:
fruits.append("mango")
print(fruits)

```insert()``` 
insert at specific position

In [ ]:
fruits.insert(3, "pomegranate")
fruits

```pop```

In [ ]:
fruits.pop()

```remove()```

In [ ]:
numbers.remove(2)
numbers

```del```

In [ ]:
del fruits[2]
fruits

#### Combine and concatenate the lists

In [ ]:
y = fruits + numbers
print(y)

```extend()```
used here

In [ ]:
ones = [1,2, 3 ,4 ,5 ,6, 7, 8, 9 ]
teens = [10,11, 12 ,13, 14, 15, 16, 17, 18 ,19]
ones.extend(teens)
print(ones)

#### Sorting

In [ ]:
jumble = [6, 3, 8, 1, 9, 2 ,3]

jumble.sort()

print(jumble)

In [ ]:
jumble.sort(reverse='True')
jumble

In [ ]:
jumble.reverse()
jumble

In [ ]:
x = fruits*4
print(x)

#### Indexing

In [ ]:
chocos = ['Dairy Milk', 'Jubliee', 'Sonnet','Flo','kitkat','Paradise']
print(chocos[2])
print(chocos[0])

In [ ]:
print(chocos[-1])
print(chocos[-2])

#### Slicing

In [ ]:
chocos[2:5]

In [ ]:
chocos[::2]

In [ ]:
chocos[3:]

In [ ]:
chocos2 = ['Dairy Milk','Paradise' ,'Jubliee', 'Sonnet','Flo','kitkat','Paradise']
chocos2.count("Paradise")

In [ ]:
chocos2.index('kitkat')

### Sets

In [2]:
default = set()
print(default)

set()

In [21]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

#### Set Operations

In [6]:
print(a|b) # Union

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
print(a & b) # intersection

{3, 4, 5}

In [23]:
print(a - b)  #differnece

{1, 2}

In [24]:
print(a ^ b )  # XOr /Symmetric difference

{1, 2, 6, 7, 8}

#### Set Methods

In [25]:
a.add(13)
print(a)

{1, 2, 3, 4, 5, 13}

In [26]:
a.remove(1)
print(a)

{2, 3, 4, 5, 13}

In [27]:
a.union(b)

{2, 3, 4, 5, 6, 7, 8, 13}

In [28]:
a.intersection(b)

{3, 4, 5}

In [29]:
a.difference(b)

{2, 13}

In [30]:
a.symmetric_difference(b)

{2, 6, 7, 8, 13}

In [31]:
a.issubset(b)

False

In [33]:
a.issuperset(b)

False

In [34]:
a.isdisjoint(b)

False

In [36]:
a.pop()

2

In [37]:
a.remove(4)

### Dictionary

In [39]:
default_dict = dict()
print(default_dict)

{}

In [42]:
d1 = {}
d1["Maths"] = 83
print(d1)

{'Maths': 83}

In [54]:
d2 = {"Ali":"Pizza",
      "Sara":"Burger",
      "Aliyan":"Shwarma",
      "Zehra" :"Salad",
      "Fatima":"Pasta"}
d2["Sara"]

'Burger'

In [55]:
"Zehra" in d2

True

In [56]:
"Khaiter" in d2

False

In [58]:
d2["Fatima"] = "Biryani"
d2

{'Ali': 'Pizza',
 'Sara': 'Burger',
 'Aliyan': 'Shwarma',
 'Zehra': 'Salad',
 'Fatima': 'Biryani'}

In [59]:
del d2["Aliyan"]
d2

{'Ali': 'Pizza', 'Sara': 'Burger', 'Zehra': 'Salad', 'Fatima': 'Biryani'}

In [60]:
d2.pop("Ali")

'Pizza'

In [62]:
d2.keys()

dict_keys(['Sara', 'Zehra', 'Fatima'])

In [63]:
d2.values()

dict_values(['Burger', 'Salad', 'Biryani'])

In [67]:
d2.update({"Sara": "Pasta",
          "Zehra":"Fries"})
d2

{'Sara': 'Pasta', 'Zehra': 'Fries', 'Fatima': 'Biryani'}