## Day 03

**Name: Bibi Zainab** 

**Dated: 20th Februrary, 2026** \
Conditional Execution \
•	If, elif, and else statements \
•	Break, continue, and pass statements	\
•	Nested conditionals \
•	Conditional (Ternary) Expression	

•	While, for loops and use of enumerate \
•	Nested loops \
•	List comprehension \
•	Iterators and Iterables

## Conditional Executions

#### if- Statements

In [1]:
age = int(input("Enter you age: "))
if age < 18:
    print("A person with your age is not eligible.")

A person with your age is not eligible.

In [2]:
age = int(input("ENter your age, if you're eligible to vote: "))
if age >= 18:
    print("Eligible for Voting.")  # many lines of code runs too
    print("Do you want to register?")

#### if-else Statements

In [3]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible for Voting.")
    print("Do you want to register?")
else:
    print("Too young for voting!")

Too young for voting!

In [4]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible for Voting.")
    print("Do you want to register?")
else:
    print("Too young for voting!")
    print("Please register to vote as soon as you turn 18!")

Too young for voting!
Please register to vote as soon as you turn 18!

In [5]:
marks = int(input("Enter yuor Math Marks: "))
if marks > 50: 
    print("Passed ")
else:
    print("You Fail!")

You Fail!

#### if-elif-else Statements (chained)

In [6]:
age = int(input("Enter your age: "))
if age < 4: 
    print("Admission cost is 0$.")
elif age < 18:
    print("Admission cost is 4$.")
else:
    print("Admission cost is 10$.")

Admission cost is 4$.

In [7]:
# an optimized version of above
age = int(input("Enter your age: "))
if age < 4: 
    cost = 0
elif age < 18:
    cost = 4
else:
    cost = 10
print("Admission cost is", str(cost), "$.")

Admission cost is 4 $.

#### Multiple elifs

In [8]:
marks = int(input("Enter you marks: "))
if marks >= 85:
    print("GRADE: A1")
elif marks >=75:
    print("GRADE: A")
elif marks >=65:
    print("GRADE: B")
elif marks >=55:
    print("GRADE: C")
elif marks >=51:
    print("GRADE: D")
else: 
    print("FAIL")

FAIL

In [9]:
requests = ["Balloons", "Chocolates", "Snacks", "Dolls"]
if "Balloons" in requests:
    print("Buying Balloons")
if "Chocolates" in requests:
    print("Buying Chocolates")
if "Snacks" in requests:
    print("Buying Snacks")
if "Dolls" in requests:
    print("Buying Dolls")

print("\n Shopping Done")

Buying Balloons
Buying Chocolates
Buying Snacks
Buying Dolls

 Shopping Done

In [10]:
requests = ["Balloons", "Chocolates", "Snacks", "Dolls"]
if "Balloons" in requests:
    print("Buying Balloons")
elif "Chocolates" in requests:
    print("Buying Chocolates")
elif "Snacks" in requests:
    print("Buying Snacks")
elif "Dolls" in requests:
    print("Buying Dolls")

print("\n Shopping Done")

Buying Balloons

 Shopping Done

In [11]:
# Stages of life
person = int(input("Enter age:"))
if person < 2:
    print("Baby")
elif person == 2 or person < 4:
    print("Toddler")
elif person == 4 or person < 13:
    print("Kid")
elif person == 13 or person < 20:
    print("Teenager")
elif person == 20 or person < 65:
    print("Adult")
elif age <= 65:
    print("Old")

Kid

#### break

In [59]:
while True:
    line = input('> ')
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('Done!')

hello
Done!

In [6]:
for i in range(1, 11):
    if i == 5:
        break  # stops the loop when i is 5
    print(i)

1
2
3
4

#### continue

In [ ]:
while True:
    line = input('> ')
    if line[0] == '#':  # skip comments
        continue
    if line == 'done':
        break
    print(line)
print('Finished!')

In [10]:
for i in range(1, 11):
    if i == 5:
        continue # skip if i is 5
    print(i)

1
2
3
4
6
7
8
9
10

#### pass

In [35]:
x = int(input("Enter a number: "))
if x < 0:
    print('negative!')
elif x == 0:
    pass
else:  
    print('positive!')

In [39]:
def f(x, y, z):
# implement this function!
    pass

#### Nested Conditionals

In [60]:
x = int(input("enter number"))
if x != 0:
    if x > 0:
        print("x is greater than 0")
    else:
        print("x is less than 0")
else:
    print("the number is zero")

x is greater than 0

In [61]:
food = ["Beef", "Mutton", "Chicken", "Fruits", "Veggies"]
take_menu = input("What do you wanna order")
if take_menu in food:
    method = input("How will you prefer dine-in or takeaway?")
    if method == "dine-in":
        print("YOur food is served on table!")
    else:
        print("happy takeaway")
else: 
    print("service not available")

service not available

In [13]:
marks = int(input("Enter marks"))
if marks >= 50:
    if marks == 100:
        print("excellent")
    else: 
        print("pass")
else:
    print("Fail")

excellent

In [16]:
username = input("Enter username")
if username == "admin":
    password = input("enter password")
    if password =="1234":
        print("Access Granted")
    else:
        print("Wrong Password")
else:
    print("Unknown user")

Access Granted

In [ ]:
marks = int(input("Enter your marks: "))


if marks >= 90:
    grade = "A+"
    if marks >= 95:
        print("topper!")
        print("Eligible for scholarship")
    else:
        print("Eligible for scholarship")
elif marks >= 80:
    grade = "A"
    if marks >=85:
        print("Eligible for scholarship")
    else:
        print("Not eligible for scholarship")
elif marks >= 70:
    grade = "B"
    print("Not eligible for scholarship")
elif marks >= 60:
    grade = "C"
    print("Not eligible for scholarship")
elif marks >= 50:
    grade = "D"
    print("Not eligible for scholarship")
else:
    grade = "Fail"

print("Grade:", grade)

Not eligible for scholarship
Grade: A

#### Ternary conditions

In [ ]:
age = int(input("Enter your age: "))
status = "Eligible" if age >= 18 else "Not eligible"
print(status)

In [ ]:

num = int(input("Enter a number: "))
result = "Even" if num % 2 == 0 else "Odd"
print(result)

In [22]:
marks = int(input("Enter your marks: "))
result = "pass" if marks > 50 else "fail"
print(result)

pass

In [24]:
num1 = int(input("Enter a Number"))
num2 = int(input("Enter second Number"))
maximum = num1 if num1 > num2 else num2
print(maximum)

15

### for Loop

In [24]:
for i in range(1,11):
    print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [27]:
table_of = 4
for count in range(15):
    print(table_of ,"*",count, "=", table_of * count)

4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
4 * 11 = 44
4 * 12 = 48
4 * 13 = 52
4 * 14 = 56

In [13]:
product = 1
for num in range(10):
    num += 1
    product = product * num
print(product)

3628800

In [14]:
product = 1

for i in range(1, 5):
    product = product * i

    print(product)

1
2
6
24

In [15]:
for alphabet in "Hi there! how are you!":
    print(alphabet)

H
i

t
h
e
r
e
!

h
o
w

a
r
e

y
o
u
!

In [16]:
for i in range(25):
    print("Practice")

Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice
Practice

In [17]:
print("Alphabets with ASCII in strings")
for alphabet in "Hi there! how are you!":
    binary = ord(alphabet)

    print(alphabet, binary, sep=": ")

Alphabets with ASCII in strings
H: 72
i: 105
 : 32
t: 116
h: 104
e: 101
r: 114
e: 101
!: 33
 : 32
h: 104
o: 111
w: 119
 : 32
a: 97
r: 114
e: 101
 : 32
y: 121
o: 111
u: 117
!: 33

In [19]:
people_likes = {"Ali":"Pizza",
      "Sara":"Burger",
      "Aliyan":"Shwarma",
      "Zehra" :"Salad",
      "Fatima":"Pasta"}
for key in people_likes:
    print(key, "likes", people_likes[key], "too much")

Ali likes Pizza too much
Sara likes Burger too much
Aliyan likes Shwarma too much
Zehra likes Salad too much
Fatima likes Pasta too much

In [21]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
for key in counts:
    print(key, counts[key])

chuck 1
annie 42
jan 100

In [23]:
counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}
lst = list(counts.keys())
print(lst)
lst.sort()
print(lst)
for key in lst:
    print(key, counts[key])

['chuck', 'annie', 'jan']
['annie', 'chuck', 'jan']
annie 42
chuck 1
jan 100

### Nested for-loops

In [29]:
for i in range(3):
    for j in range(4):
        print(i,j, sep=",")

0,0
0,1
0,2
0,3
1,0
1,1
1,2
1,3
2,0
2,1
2,2
2,3

In [31]:
lst = ["chicken", "shwarma","salad","burger"]
ppl = ["Aliyan","Samiya","Noor","Fariha"]
for i in lst:
    for j in ppl:
        print(j,"can eat", i)

Aliyan can eat chicken
Samiya can eat chicken
Noor can eat chicken
Fariha can eat chicken
Aliyan can eat shwarma
Samiya can eat shwarma
Noor can eat shwarma
Fariha can eat shwarma
Aliyan can eat salad
Samiya can eat salad
Noor can eat salad
Fariha can eat salad
Aliyan can eat burger
Samiya can eat burger
Noor can eat burger
Fariha can eat burger

In [26]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i*j, end="\t")
    print()  # new line after each row

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [34]:
fruits = ["Apple", "Banana"]
colors = ["Red", "Yellow"]
for fruit in fruits:
    for color in colors:
        print(fruit ,"can be",color)

Apple can be Red
Apple can be Yellow
Banana can be Red
Banana can be Yellow

#### while Loop

In [38]:
count = 1
while count <= 10:
    print(count,end= " ")
    count += 1

1 2 3 4 5 6 7 8 9 10

In [43]:
count = 10
while count >= 1:
    print(count, end = " ")
    count -= 1

10 9 8 7 6 5 4 3 2 1

In [ ]:
i = 1
total = 0
while i <= 10:
    total += i
    i += 1
print("Sum:", total)

In [40]:
i = 1
n = 6
while i < 11:
    print(n,"*",i,"=",i*n)
    i += 1

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [47]:
number = int(input("Enter a number"))
i = 1
fact = 1
while number >= i:
    fact *= i
    i += 1
print("factorial of ",number,":",fact)

factorial of  9 : 362880

In [ ]:
digit = int(input("Enter a number")) # sum of digits in a number
total = 0
while digit > 0:
    total += digit%10
    digit//= 10
print("digit:",total)

digit: 11

In [ ]:
n = int(input("Enter N: ")) # evens
i = 2
while i <= n:
    print(i, end=" ")
    i += 2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66

In [ ]:
n = int(input("Enter N: ")) # odds
i = 1
while i <= n:
    print(i, end=" ")
    i += 2

In [57]:
secret = 7
guess = -1
while guess != secret:
    guess = int(input("Guess the number: "))
    print("wrong guess",guess )
print("Congratulations! You guessed it.")

wrong guess 6
wrong guess 3
wrong guess 1
wrong guess 7
Congratulations! You guessed it.

#### Nested While

In [ ]:
i = 1
while i <= 3:
    j = 1
    while j <= 3:
        print(i, j)
        j += 1
    i += 1

In [58]:
i = 1
while i <= 3:
    j = 1
    while j <= 4:
        print("(",i,j,")", end=" ")
        j += 1
    print()
    i += 1

( 1 1 ) ( 1 2 ) ( 1 3 ) ( 1 4 )
( 2 1 ) ( 2 2 ) ( 2 3 ) ( 2 4 )
( 3 1 ) ( 3 2 ) ( 3 3 ) ( 3 4 )

In [59]:
count = 1
while count <= 3:
    for i in range(1, 6):
        print(i, end=" ")
    print()
    count += 1

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [60]:
numbers = [2, 3, 4]
repeat = 1
while repeat <= 2:
    for num in numbers:
        print(num * repeat, end=" ")
    print()
    repeat += 1

2 3 4
4 6 8

### List Comprehension

In [51]:
n_2_20 = [i for i in range(1, 21) ]
print(n_2_20)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
numbers = [i for i in range(1000)]
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [45]:
squares = [i ** 2 for i in range(1, 11) ]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
evens = [e for e in range(2,21,2)]
print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [56]:
string_list = ['42', '65', '12']  
list_of_ints = [ int(x) for x in string_list ]
print(sum(list_of_ints))

119